
/*FONT's available

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/

/*
/*Testing*/
/** { border: 1px solid red;

	 }*/

hr {
	width: 950px;

}



/*Body*/
body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-color: #f19b2c;
}







/* Header*/
header{
	width: 100%;
	text-align: center;
	/*background-color: #9e3199;*/
	height: 100px;
}

.brandlogo{
	display: flex;
	flex-wrap: wrap;
}
.brandlogo img{
	order:1;
	margin: -30px;
	padding-left: 30px;
	width: 120px;
	height: 120px;
	opacity: 0.2;
}
/*
#compName{
	font-family: 'lato', sans-serif;
	margin: 20px;
	order: 1;
	padding: 0;
	text-align: left;
	color: #fff;
}*/
#compName {
	order: 2;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	font-family: 'lato', sans-serif;
	margin-left: 10px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#compName {
  text-align: center;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
	height: 60px;
    background-color: #008CBA;
}



/* container */
.container{
	background-color: #EEEEEE;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	/*border-bottom: 2px grey solid;*/
}
.container2{
	margin: 15px;
	width: 80%;
	background-color: white;
	border-radius: 10%;
	background: repeating-radial-gradient(circle at top right,#ad41a8,#9C3797 1050px);
}
.content{
	background: #EEEEEE;
	order: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 	width: 100%;
 	color: #ECECEC;
}

 /* ROW DIV WITH IMG AND INFO*/

 .row{
 	order: 1;
 	margin: 0 auto;
 	padding: 0;
 	width: 80%;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}

.picture{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.img-about{
    margin-top: 3em;
    border: 1px solid  #b791b5;
    width: 30%;
    border-radius: 50%;
    margin: 50px;
    position: relative;
    overflow: hidden;
}
.img-about:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}
.info{
	font-size: 1.1em;
	padding-top: 15px;
	width: 50%;
	text-align: left;
	white-space: pre-line;
}

.info p{
	margin-bottom: 5px;
	letter-spacing: 1px;
}
#info{
	text-align: right;
}

/*.border{
	text-align: center;
	border: 1px solid #E69B50;
	width: 30%;
}*/



/*.tools {
	border-radius: 25px;
	background-color: #fff;
	border: 1px solid #fff;
	text-align: center;
	white-space: normal;
	width: 70%;
	order:2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}*/

.tools h3 {
	margin:3px 0 0 0;
	padding: 0;
}

.bordersvg{
	order:2;
	margin-bottom: -2px;
}

.bordersvg2{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: -3px;
}

#bordersvg2bttm{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: -8px;
}

.devicons{
	color: #2A80B9;
	font-size: 75px;
}

/*PLATFORMS */
.Quote{
	width: 100%;
}

.featured {
	width: 100%;
	padding:25px;
	background: #9e3199;
	text-align: center;
	order: 2;
	color:#3D3D3D;
}
.work {
	color: #3D3D3D;
	width: 100%;
	order: 4;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	/*background: #ffaf4b;
	background: -moz-radial-gradient(center, ellipse cover, #ffaf4b 0%, #ff920a 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #ffaf4b 0%,#ff920a 100%);
	background: radial-gradient(ellipse at center, #ffaf4b 0%,#ff920a 100%); */
	background: #ECF0F1;
}
.container3{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	background-color: white;
	border-radius: 10%;
	background: repeating-radial-gradient(circle at 0 0,#e8942e,#f19b2c 500px);
}
#border2bttm{
	margin-bottom:-3px;
}
.content2{
 	width: 100%;
 	order:5;
 	background: #84ccba;
	background: -moz-radial-gradient(center, ellipse cover, #84ccba 0%, #16a085 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #84ccba 0%,#16a085 100%);
	background: radial-gradient(ellipse at center, #84ccba 0%,#16a085 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84ccba', endColorstr='#16a085',GradientType=1 );
}
.featured2 {
	padding: 25px;
	background-color: #28A78E;
	margin: 0 auto;
	text-align: center;
	order: 2;
}
.heart{
	width: 15%;
}

#border3bttm{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: 0px;
}

.work2 {
	width: 100%;
	order: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #28A78E;
}
a.show:hover{
	color:#000;
	font-weight: bold;
	font-size: 18px;
}
.proj {
	list-style: none;
	width: 30%;
	margin: 15px;
	white-space: normal;

}
.projsvg{
	width:50%;
}
.proj2 {
	display: initial;
	margin: 10px;
	text-align: left;
}
.proj2 .list{
	display: inline-block;
	margin: 10px;
	text-align: left;
}
.proj2 h2{
	text-align: center;
}
.proj2 ul{
	list-style: none;
}

.socialMedia{
	width: 100%;
	background-color: #9E3199;
}
#rib1{
	order:5;
}
#rib2{
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: 0px;
}
/*footer*/

footer {
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
}
.icons{
	text-align: center;
	order: 1;
	width: 100%;
}

.icons a {
	transition: color 0.2s ease;
	color: #000;
	margin: 10px;
}
.icons a:hover {
	color:#fff;
}
.copy {
	order: 2;
	width: 100%;
	text-align: center;
}
.fb-feed2{
	display: none;
}

.fb-feed {
	margin-top: 38px;
	margin-bottom: 30px;
}





/*SLIDE SHOW*/
/* Slideshow container */
.slideshow-container {
  width:100%;
  height: 600px;
  margin: -1px auto;
  padding: 0;
  background-color: #F19B2C;
  overflow: hidden;
}

.mySlides {
 	width:100%;
 	height: 900px;
    display: none;
    margin-top: -50px;
}

.mySlides img{
	max-width:100%;
	max-height:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#topsvg{
	margin-top: -3px;
	transform:rotate(180deg);

}


/*MEDIA QUERIES*/



@media screen and (max-width: 750px){
	body{
		width: 100%;
	}
	.brandlogo img{
	display: none;
	}
	#compName{
		font-size: 28px;
		order: 1;
	}
	 .container, .work {
	 	display: flex;
	 	flex-wrap: wrap;
		width: 100%;
	}

	header {
		display: flex;
		flex-wrap: wrap;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
	}

	.proj {
		width: 70%;
	}
	.picture{
		width: 100%;
	}
	.img-about{
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.info{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	#info{
		width: 100%;
		text-align: center;
		order:2;
		margin-bottom: 20px;
	}
	#middleRow{
		display: flex;
		flex-wrap: wrap;
	}
	.border{
		display: none;
	}
		.fb-feed2{
		display: none;
	}
	.slideshow-container {
	  width:100%;
	  height: 400px;
	  margin: -1px auto;
	  padding: 0;
	}

	.mySlides {
	 	width:100%;
	 	height: 400px;
	    display: none;
	}

	.mySlides img{
		max-width:100%;
		max-height:100%;
	}

}




@media screen and (max-width: 401px){
	.brandlogo img{
	display: none;
	}
	#compName{
		font-size: 25px;
		order: 1;
	}
	.info{
		width: 100%;
		text-align: center;
	}
	#info{
		text-align: center;
	}
	.img-about{
		margin: 0 auto;
		width: 100%;
	}

	.devicons{
	color: #2A80B9;
	font-size: 40px;
	}
	.tools {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.fb-feed{
		display: none;
	}
	.fb-feed2{
		display: initial;
		margin: 10px;
		border-radius: 15%;
	}
	.picture{
		width: 100%;
	}
	.slideshow-container{
		width: 100%;
		height: 300px;
	}
	.mySlides{
	margin: 0 auto;
	}
	.mySlides img{
	max-width:100%;
	max-height:100%;
}

}



@media screen and (max-width: 1201px){


}


@media screen and (max-width: 850px){

}



/*@media screen and (min-width: 600px){

	.name h1{
		display: initial;
	}

}*/