
/*FONT's available

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/

/*
/*Testing*/
* { border: 1px solid red;

	 }

hr {
	width: 950px;

}



/*Body*/
body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}







/* Header*/
header{
	width: 100%;
	text-align: center;
	/*background-color: #9e3199;*/
	background-color: #f39c12;
	height: 100px;
}

.brandlogo{
	display: flex;
	flex-wrap: wrap;
}
.brandlogo img{
	order:2;
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;

}

#compName{
	font-family: 'lato', sans-serif;
	margin: 20px;
	order: 1;
	padding: 0;
	text-align: left;
	color: #fff;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	height: 60px;
    background-color: #008CBA;
}



/* container */
.container{
	background-color: #F39C12;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	/*border-bottom: 2px grey solid;*/
}
.content{
	background: #ffaf4b;
	background: -moz-radial-gradient(center, ellipse cover, #ffaf4b 0%, #ff920a 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #ffaf4b 0%,#ff920a 100%);
	background: radial-gradient(ellipse at center, #ffaf4b 0%,#ff920a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 );;
	order: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 	width: 100%;
 	color: #fff;
}

 /* ROW DIV WITH IMG AND INFO*/

 .row{
 	order: 1;
 	margin: 10px;
 	padding: 0;
 	width: 100%;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}

.picture{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.img-about{
    margin-top: 3em;
    -moz-box-shadow: 3px 3px 5px #000;
    -webkit-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    border: 1px solid #000;
    width: 35%;
    border-radius: 50%;
    margin: 50px;
}
.info{
	padding-top: 15px;
	margin: 0 auto;
	width: 50%;
	text-align: left;
	white-space: pre-line;
}

#info{
	text-align: right;
}

.border{
	text-align: center;
	border: 1px solid #E69B50;
	width: 45%;
}



/*.tools {
	border-radius: 25px;
	background-color: #fff;
	border: 1px solid #fff;
	text-align: center;
	white-space: normal;
	width: 70%;
	order:2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}*/

.tools h3 {
	margin:3px 0 0 0;
	padding: 0;
}

.bordersvg{
	order:2;
	margin-bottom: -8px;
}

.bordersvg2{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: -8px;
}

#bordersvg2bttm{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: -8px;
}

.devicons{
	color: #2A80B9;
	font-size: 75px;
}

/*PLATFORMS */
.Quote{
	width: 100%;
}

.featured {
	width: 100%;
	margin:25px;
	background: #F39C12;
	text-align: center;
	order: 2;
}
.work {
	width: 100%;
	order: 4;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	background: #e570e7;
	background: -moz-radial-gradient(center, ellipse cover, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
	background: radial-gradient(ellipse at center, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 );
}
.content2{
 	width: 100%;
 	order:5;
 	background: #84ccba;
	background: -moz-radial-gradient(center, ellipse cover, #84ccba 0%, #16a085 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #84ccba 0%,#16a085 100%);
	background: radial-gradient(ellipse at center, #84ccba 0%,#16a085 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84ccba', endColorstr='#16a085',GradientType=1 );
}
.featured2 {
	padding: 25px;
	background-color: #16a085;
	margin: 0 auto;
	text-align: center;
	order: 2;
}
.heart{
	width: 15%;
}

#border3bttm{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: 0px;
}

.work2 {
	width: 100%;
	order: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.proj {
	list-style: none;
	width: 30%;
	margin: 15px;

}
.proj2 {
	width: 40%;
	margin: 10px;
	text-align: left;

}
.proj2 h2{
	text-align: center;
}
.proj2 ul{
	list-style: none;
}



/*.proj img{
	width: 100%;
}*/

/*footer*/

footer {
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
}
.icons{
	text-align: center;
	order: 1;
	width: 100%;
}

.icons a {
	transition: color 0.2s ease;
	color: #000;
	margin: 10px;
}
.icons a:hover {
	color:#fff;
}
.copy {
	order: 2;
	width: 100%;
	text-align: center;
}



/*SLIDE SHOW*/
/* Slideshow container */
.slideshow-container {
  width:100%;
  height: 600px;
  margin: -1px auto;
  padding: 0;
}

.mySlides {
 	width:100%;
 	height: 600px;
    display: none;
}

.mySlides img{
	max-width:100%;
	max-height:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#topsvg{
	margin-top: -3px;
	transform:rotate(180deg);

}


/*MEDIA QUERIES*/



@media screen and (max-width: 740px){
	body{
		width: 100%;
	}
	 .container, .work {
	 	display: flex;
	 	flex-wrap: wrap;
		width: 100%;
	}

	header {
		display: flex;
		flex-wrap: wrap;
	}



	 .name {
		font-size: 20px;
	}

	.about img {
		width: 50%;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
	}

	.about {
		width: 100%;
	}


	.proj {
		width: 100%;
		margin: 0 auto;
	}

	.footer{

	}

}



@media screen and (max-width: 412px){

	.name h1{
		display: none;
	}
	.devicons{
	color: #2A80B9;
	font-size: 40px;
	}
	.tools {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

}



@media screen and (max-width: 1201px){

	.tools {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

}


@media screen and (max-width: 850px){

	.about img {
		width: 40%;
	}

}



/*@media screen and (min-width: 600px){

	.name h1{
		display: initial;
	}

}*/